h1{
    display: inline-block;
 }
nav ,li{
    display: inline-block;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
li{
    height:50px ;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login,#signup,#logout{
  

    
}

#signup{
    background-color: rgb(205, 2, 2);
}


.errorMessage{
    color: red;
}