h1{
    display: inline-block;
    font-size: 50px;
}
nav ,li{
    display: inline-block;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
li{
    height:50px ;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login,#signup,#logout{
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 500px;
    background-color: rgb(3, 55, 3);
    color: #ffffff;
    font-size: 25px;
    padding: 10px;

    
}

#signup{
    background-color: rgb(205, 2, 2);
}